.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: red;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
div#container {
    height: 100%;
    margin: 0%;
    padding: 0%;
}
div#navigation {
    background-color: #0D0D0D;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(../img/web-design-company.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div#example-menu {
    background-color: #0D0D0D;
    position: fixed;
    width: 100%;
}
top-bar,
.top-bar ul {
    background-color: #0D0D0D;
    margin-top: 1%;
    margin-left: 29%;
}
a {
    color: #AEBCB9;
}
@media screen and (max-width: 39.9375em) {
    top-bar,
    .top-bar ul {
        font-size: 10px;
        margin: 0%;
        margin-left: -3%;
    }
}
p#hm1 {
    margin-top: 15%;
    text-align: center;
    font-weight: 900;
    color: #AEBCB9;
    font-size: 57px;
}
@media screen and (max-width: 39.9375em) {
    p#hm1 {
        font-size: 20px;
        margin-left: -16%;
        margin-top: 41%;
    }
}
div#about {
    height: 100%;
    background-image: url(../img/web-design-agency.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p#ab1 {
    margin-top: 16%;
    text-align: center;
    color: #AEBCB9;
    font-size: 34px;
}
@media screen and (max-width: 39.9375em) {
    p#ab1 {
        font-size: 26px;
    }
}
.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}
.grid figure {
    margin: 0;
    position: relative;
}
