.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: red;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
div#container {
    height: 100%;
    margin: 0%;
    padding: 0%;
}
div#navigation {
    background-color: #0D0D0D;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(../img/web-design-company.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div#example-menu {
    background-color: #0D0D0D;
    position: fixed;
    width: 100%;
}
top-bar,
.top-bar ul {
    background-color: #0D0D0D;
    margin-top: 1%;
    margin-left: 29%;
}
a {
    color: #AEBCB9;
}
@media screen and (max-width: 39.9375em) {
    top-bar,
    .top-bar ul {
        font-size: 10px;
        margin: 0%;
        margin-left: -3%;
    }
}
p#hm1 {
    margin-top: 15%;
    text-align: center;
    font-weight: 900;
    color: #AEBCB9;
    font-size: 57px;
}
@media screen and (max-width: 39.9375em) {
    p#hm1 {
        font-size: 20px;
        margin-left: -16%;
        margin-top: 41%;
    }
}
div#about {
    height: 100%;
    background-image: url(../img/web-design-agency.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p#ab1 {
    margin-top: 16%;
    text-align: center;
    color: #AEBCB9;
    font-size: 34px;
}
@media screen and (max-width: 39.9375em) {
    p#ab1 {
        font-size: 26px;
    }
}
.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}
.grid figure {
    margin: 0;
    position: relative;
}
.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
}
grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}
.grid figcaption span:before {
    content: 'by ';
}
.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}
.cs-style-1 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
}
.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
    opacity: 1;
    transform: translate(15px, 15px);
}
.cs-style-1 figcaption h3 {
    margin-top: 70px;
}
.cs-style-1 figcaption span {
    display: block;
}
.cs-style-1 figcaption a {
    margin-top: 30px;
}
@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}
div#projects {
    margin-top: 4em;
    background-color: #0D0D0D;
}
.grid- {
    margin: 40px auto 120px;
    max-width: 1000px;
    width: 90%;
}
.grid- a {
    float: left;
    max-width: 250px;
    width: 25%;
    color: #333;
}
.grid- a:nth-child(odd) {
    margin: 30px 0 -30px 0;
}
.grid- figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #333;
}
.grid- figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    transition: opacity 0.3s;
}
.grid- figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.grid figcaption h2 {
    margin: 0 0 20px 0;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    transition: transform 0.3s;
}
.grid figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    transition: opacity 0.3s, transform 0.3s;
}
.grid figcaption h2,
.grid figcaption p {
    transform: translateY(50px);
}
.grid figure button {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: opacity 0.3s, transform 0.3s;
}
.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
    backface-visibility: hidden;
}
.grid svg {
    position: absolute;
    top: -1px;
    /* fixes rendering issue in FF */
    z-index: 10;
    width: 100%;
    height: 100%;
}
.grid svg path {
    fill: #fff;
}
.grid a:hover figure img {
    opacity: 1;
}
.grid a:hover figcaption h2,
.grid a:hover figcaption p {
    transform: translateY(0);
}
.grid a:hover figcaption p {
    opacity: 0;
}
.demo-2 body {
    background: #e74c3c;
}
.demo-2 .grid figcaption h2 {
    color: #e74c3c;
}
.demo-2 .grid figcaption p {
    transition-delay: 0.05s;
}
.demo-2 .grid figure button {
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background: #fff;
    color: #333;
    font-weight: 300;
    transform: translateY(100%);
}
.demo-2 .grid a:hover figure button {
    transition-timing-function: ease-out;
    transform: translateY(0);
}
